{% extends "layout.html" %}

{% block content %}
<div class="navcontainer">
    <nav class="navbar">
            <a href="/home">Home</a>
            <a href="/menu">Menu</a>
            <a href="/order">Order Now</a>
            <a href="/register">Register</a>
    </nav>
</div>
<div class="banner">
    <img class="banner-image" src="static/images/LunaBakeryBanner.png" alt="Luna's Bakery Banner">
</div>
<div class="slogancontainer">
    <img class="banner-image" src="static/images/slogan.png" alt="Luna's Bakery slogan">
</div>
<br>
<div class="aboutuscontainer">
    <h1 class="about-us">About Us</h1>
    <p class="paragraph-us">Luna's Bakery, inspired by our beloved cat,
         was created to make every day sweet. We deliver happy 
         moments to our customers in different flavors, colors, 
         and shapes. From cakes to breads, we know our way around
          dough and also your heart. Take a look at our menu, you might just find your next craving.</p>
</div>

<div class="row" id="products_page">
    <div class="col-md-12">
        <div class="row">
            <form action="/checkout" method="post">
                <div class="form-group">
                    <div class="row">
                        {% for product in products %}
                        <div class="col-md-4">
                            <div class="product_card" id="product_card">
                                <img src="{{ product.image_url }}" class="product_card-img" alt="...">
                                <div class="product_card-body">
                                    <h5 class="product_card-title">{{ product.item_name }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
    <br>
    <hr>
    <div class="review">
        <h1>Review</h1>
        <div class="review-container">
            <h1>Leave us a review!</h1>
            <form>
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" required><br>
    
                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" required><br>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>
    
                <label for="review">Review:</label>
                <textarea id="review" name="review" rows="4" cols="50" required></textarea><br>
    
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
    <hr>
    <div class="ContactContainer">
        <div class="ContactInformation">
            <h1 class="contactus">Contact Us!</h1>
            <h3>email:lunasbakery@gmail.com</h3>
            <h3>phone:919-592-5634</h3>
        </div>
    </div>
    <br>
</div>


{% endblock %}