{% extends "layout.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Additional styles specific to the menu page -->
    <style>
       
        /* Additional styling for categories */
        
    </style>
{% endblock %}

{% block content %}
    <!-- Menu content -->
    <div class="menu-section">
        <!-- Cake category -->
        <div class="category-title">Cake</div>
        <!-- Item 1 -->
        <div class="menu-item">
            <img src="static/images/fruitCake.jpeg" alt="Fruit Sponge Cake" class="menu-item-image">
            <div class="menu-item-info">
                <h5>Fruit Sponge Cake</h5>
                <p>A soft and light airy whipped cream with fruit cake</p>
                <div class="menu-item-price">$20.00</div>
            </div>
        </div>

        <!-- Cupcake category -->
        <div class="category-title">Cupcake</div>
        <!-- Item 2 -->
        <div class="menu-item">
            <img src="static/images/cupcake.png" alt="Cupcake" class="menu-item-image">
            <div class="menu-item-info">
                <h5>Cupcake</h5>
                <p>Pink cupcake with marble cream cheese frosting (sale by dozen)</p>
                <div class="menu-item-price">$10.00</div>
            </div>
        </div>

        <!-- Bread category -->
        <div class="category-title">Bread</div>
        <!-- Item 3 -->
        <div class="menu-item">
            <img src="static/images/milkBread.jpeg" alt="Milk Bread" class="menu-item-image">
            <div class="menu-item-info">
                <h5>Milk Bread</h5>
                <p>Signature milk bread</p>
                <div class="menu-item-price">$4.00</div>
            </div>
        </div>

        <!-- Item 4 -->
        <div class="menu-item">
            <img src="static/images/frenchBread.jpeg" alt="French Bread" class="menu-item-image">
            <div class="menu-item-info">
                <h5>French Bread</h5>
                <p>Baguette</p>
                <div class="menu-item-price">$1.00</div>
            </div>
        </div>
    </div>
{% endblock %}
