{% extends "layout.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Additional styles specific to the menu page -->
    <style>
       
        /* Additional styling for categories */
        
    </style>
{% endblock %}

{% block content %}
    <!-- Menu content -->
    <div class="menu-section">

        <!-- Cake category -->
        <div class="category-title">Cake</div>
        <!-- Cupcake category -->
        <div class="category-title">Cupcake</div>
        <!-- Bread category -->
        <div class="category-title">Bread</div>


        {% for product in products %}
        <div class="menu-item">
            <img src="{{ product.image_url }}" alt="{{ product.item_name }}" class="menu-item-image">
            <div class="menu-item-info">
                <h5>{{ product.item_name }}</h5>
                <p>{{ product.info }}</p>
                <div class="menu-item-price">${{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
        
{% endblock %}
