{% extends "layout.html" %}

{% block head %}
    
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Additional styles specific to the menu page -->
    <style>
        /* Add your custom CSS styles for the menu page here */
        .menu-section {
            margin-top: 20px;
            padding: 10px;
            background-color: #FFEBF6;
            border-radius: 5px;
        }
        .menu-item {
            display: flex; /* Add flexbox to arrange items side by side */
            align-items: center; /* Vertically align image and info */
            margin-bottom: 20px; /* Add space between menu items */
        }
        .menu-item-info {
            flex: 1; /* Let the info take all available space */
            margin-left: 20px; /* Add space between image and info */
        }
        .menu-item-price {
            font-weight: bold;
            color: #009688;
        }
        .menu-item-image {
            max-width: 200px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Menu content -->
    <div class="menu-section">

        {% for product in products %}
        <div class="menu-item">
            <img src="{{ product.image_url }}" alt="{{ product.item_name }}" class="menu-item-image">
            <div class="menu-item-info">
                <h5>{{ product.item_name }}</h5>
                <p>{{ product.info }}</p>
                <div class="menu-item-price">${{ product.price }}</div>
            </div>
        </div>
        {% endfor %}
        
{% endblock %}
